/* Setup */

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

/* Setup End */

/* Secondary Setup */

.content-outline {
    width: 60%;
    margin: auto;
}

.dashboard-content-outline {
    width: 85%;
    margin: auto;
}

/* Secondary Setup End */

/* Header and logo */

.header-logo-banner {
    width: 100%;
    padding: 15px 20px;
    color: white;
    background: black;
}

.logo-banner-left {
    float: left;
    width: 49%;
}

.logo-banner-right {
    float: right;
    width: 49%;
}

.header-logo-banner h4 {
    text-align: right;
}

.dashboard-header {
    width: 100%;
}

.dash-header-left {
    width: 49%;
    float: left;
    text-align: left;
}

.dash-header-right {
    width: 49%;
    float: right;
}

/* Header and logo end */

/* Navigation Bar */

.nav-bar-background {
    background: #272727;
}

ul.topnav li a {
    text-align: center
}

ul.topnav {
    overflow: hidden
}

.topnav {
    margin: auto
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul.topnav li {
    float: left
}

ul.topnav li a {
    display: inline-block;
    height: 50px;
    min-width: 75px;
    line-height: 20px;
    color: #fff;
    font-size: 12.4px;
    letter-spacing: .7px;
    padding: 14px 16px;
    text-decoration: none;
    transition: color .3s ease
}

.alignmentTwo {
    margin: auto;
    width: 375px
}

ul.topnav li a:hover {
    color: #9099a2
}

ul.topnav li.icon {
    display: none
}

@media screen and (max-width:1024px) {
    ul.topnav li:not(first-child) {
        display: none
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block
    }
    .alignmentTwo {
        background-color: #111;
        width: 100%
    }
    ul.topnav.responsive {
        position: relative
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0
    }
    ul.topnav.responsive li {
        float: none;
        display: inline
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left
    }
    ul.topnav li a {
        background-color: #111;
        color: #fff
    }
}

@media screen and (max-width:1024px) {
    ul.topnav li:not(first-child) {
        display: none
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block
    }
    .alignmentTwo {
        background-color: #111;
        width: 100%
    }
    ul.topnav li a {
        background-color: #111;
        color: #fff
    }
    ul.topnav.responsive {
        position: relative
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0
    }
    ul.topnav.responsive li {
        float: none;
        display: inline
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left
    }
}

/*Navigation Bar End*/

/* Advert Banner */

.advert-banner {
    background: #EAEAEA;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.advert-banner h2 {
    color: #6BAC56;
    font-size: 30px;
    margin: 0;
}

.advert-banner h3 {
    font-weight: 100;
    font-size: 28px;
    margin: 0;
}

/*button*/

.free-signup-button {
    background: #6BAC56;
    padding: 15px 25px;
    color: white;
    letter-spacing: 3px;
    font-weight: 500;
    border-radius: 6px;
    font-size: 20px;
    margin: 10px;
    border: none;
}

.free-signup-button:hover {
    transition: all ease-in-out .3s;
    background: #4C793E;
    cursor: pointer;
}

.dashboard-project {
    float: right;
    padding: 10px 20px !important;
}

.main-area-align h2 {
    text-align: center;
}

.title-hr {
    width: 50%;
}

/* Main info section */

.main-info-outer {
    width: 100%;
}

.info-img {
    float: left;
    width: 49%;
}

.info-img img {
    width: 100%;
}

.info-text {
    float: right;
    width: 49%;
}

.info-text p {
    width: 100%;
    margin: auto;
}

.signup-h2 {
    color: #6BAC56;
    font-size: 30px;
    margin: 0;
}

/* Main info section end */

/* Form */

form.signup-form {
    width: 30%;
    margin: auto;
}

form.signup-form input {
    width: 100%;
    margin: auto;
    border: 2px solid #6BAC56;
    color: black;
    font-weight: 200;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 18px;
}

form.signup-form textarea {
    width: 100%;
    margin: auto;
    border: 2px solid #6BAC56;
    color: black;
    font-weight: 200;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 18px;
}

.submit-form {
    background: #6BAC56;
    color: white !important;
    font-weight: 500 !important;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 2px solid #6BAC56;
    font-size: 15px;
}

.submit-form:hover {
    transition: all ease-in-out .3s;
    background: #4C793E;
    border-color: #4C793E;
    cursor: pointer;
}

nobr {
    text-align: left;
}

#remember {
    width: 20px;
}

.welcome-text {
    text-align: left !important;
    font-weight: 200;
    font-size: 30px;
}

.dash-header-right h2 {
    text-align: right;
}

table {
    border-collapse: collapse;
}

.projects-table td {
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

.projects-table th {
    border-bottom: 2px solid black;
    padding: 15px 10px;
}

/* Projects table */

.projects-table {
    width: 100%;
    font-weight: 300;
}

.projects-table th,
.projects-table td {
    width: 14%;
    text-align: center;
}

.delete-btn {
    padding: 7.5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.delete-btn:hover {
    color: #888;
    transition: .3s;
}

.add-time-btn {
    font-size: 20px;
}

.add-time-btn:hover {
    color: #888;
    transition: .3s;
    cursor: pointer;
}

/* New project modal */

.new_project_modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.new_project_modal_content {
    background-color: #fefefe;
    margin: auto;
    width: 80%;
}

/*  Modal Header  */

.new_project_header {
    background: #6BAC56;
    padding: 15px;
    width: 100%;
}

.new_project_header h2 {
    margin: 0;
    color: white;
}

/* The Close Button */

.new_project_close {
    color: #ffffff;
    float: right;
    font-size: 25px !important;
}

.new_project_close:hover {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.new_project_input {
    border: 2px solid #6BAC56;
    font-size: 15px;
        color: #000;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
}

/*New project modal end*/























/* The container */
.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border: 2px solid #d0d0d0;
    border-radius: 20px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #6aac56;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}





















.checkbox-outer {
    width: 32px;
    margin: auto;
}

.fa-check, .fa-plus {
    color: #e8e9e8;
}
  
  .label__checkbox {
    display: none;
  }
  
  .label__check {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid rgba(0,0,0,0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
    
    i.icon {
      opacity: 0.2;
      font-size: ~'calc(1rem + 1vw)';
      transition: opacity .3s .1s ease;
      -webkit-text-stroke: 3px rgba(0,0,0,.5);
    }
    
    &:hover {
      border: 5px solid rgba(0,0,0,0.2);
    }
  }
  
  .label__checkbox:checked + .label__text .label__check {
    animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
    
    .icon {
      opacity: 1;
      transform: scale(0);
      color: white;
      -webkit-text-stroke: 0;
      animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
    }
  }
  
  @keyframes icon {
    from {
      opacity: 0;
      transform: scale(0.3);
    }
    to {
      opacity: 1;
      transform: scale(1)
    }
  }
  
  @keyframes check {
    0% {
      width: 1.5em;
      height: 1.5em;
      border-width: 5px;
    }
    10% {
      width: 1.5em;
      height: 1.5em;
      opacity: 0.1;
      background: rgba(0,0,0,0.2);
      border-width: 15px;
    }
    12% {
      width: 1.5em;
      height: 1.5em;
      opacity: 0.4;
      background: rgba(0,0,0,0.1);
      border-width: 0;
    }
    50% {
      width: 2em;
      height: 2em;
      background: #00d478;
      border: 0;
      opacity: 0.6;
    }
    100% {
      width: 2em;
      height: 2em;
      background: #00d478;
      border: 0;
      opacity: 1;
    }
  }
  
.new-project-form-outer {
    width: 320px;
    margin: auto;
}

.new_project_submit {
    background: #6BAC56;
    font-size: 15px;
        color: #000;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
}
